body {
    background: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista,
.lista ul {
    /* list-style-image: url('./images/check.svg'); */
    list-style: square;

    li::marker {
        color: red;
        font-size: 50px;
    }
    
}

.lista2, .lista2 ul {
    background: white;
    margin: 4px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    li{
        padding: 20px;
    }
    
}