body {
    background: gray;
}

[data-id] {
    font-size: 20px;
    color: blue;
}

[data-id="2"] {
    background: navy;
}


a {
    text-decoration: underline;
    color: red;
    font-size: 30px;
}

[href="#"]{
    text-decoration: none;
    color: blue;
}