* {
    margin: 0;
}

.caja {
    background: lightcoral;
    width: 50vw;
    height: 50vh;

    .parrafo-uno {
        background: lightgrey;
        width: 50%;
        height: 70%;
        font-size: 1.5em;
    }
}